@font-face {
    font-family: "sinistre";
    src: url("sinistre.woff2") format("woff2"),
         url("sinistre.woff") format("woff");
  }
  .immaginihome {width:20rem; height:auto;}

#containertitolohome{position: fixed; z-index:-10 ;}
body{overflow-x: hidden; 
    background-color: lightgray;
}
.titolohomepage{
    font-family:sinistre;
                }
.descrizionehome
    {
        font-family:sinistre;
     left:2rem;
     margin-top:10rem;
     font-family: Arial, Helvetica, sans-serif;
    z-index: -10;
    }

    .pari{margin-top:15rem; margin-left:4rem;}
    .dispari{margin-top:19rem;}